.edit-page {
  width: 100%;
}

.edit-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  padding-top: 34px;
}

.edit-image-container {
  display: flex;
  flex-direction: column;
}

.edit-image {
  width: 500px;
  height: auto;
}

.edit-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 22px 0px 0px 44px;
}

.edit-name {
  font-size: 4rem;
}

.edit-page input {
  border: none;
}

.edit-page input:focus {
  outline: none;
}

.edit-price {
  font-size: 32px;
  padding: 20px 0;
}

.edit-description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  border: none;
}

.edit-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.edit-button {
  width: 80px;
  background: black;
  border: none;
  color: white;
  font-size: 24px;
  padding: 6px;
}

@media (max-width: 800px) {
  .edit {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
  }
}
