.product-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 250ms;
}

.product-label {
  text-decoration: underline;
}

.product-card:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.product-card-image {
  width: 300px;
}
