.search {
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 80%;
  font-size: 18px;
  padding: 12px 0px 12px 36px;
  border: 1px solid #dddddd;
}

.search-bar:focus {
  outline: none;
}
